.me{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  text-align: center;
  background-color: rgb(42, 138, 138);  
}
#particles-js{  
  height: 100vmax;
  width: 100%; 
  position: fixed;
  z-index: -1;
}
.home{
  width: 80%;
  position: relative;
  border: 2px solid white;
  z-index: 99;
  background-size: cover;
}
/* .prueba {
  will-change: "transform";
   transform: perspective(1500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1)
  } */


/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
