/* importa el tipo de letra a usar*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
body{
  font-family: "Raleway", sans-serif !important;
}
.particles{  
  width: 100%;
  height: 100%; 
  position: fixed;
  z-index: -1;
  background-size: cover;
}

/* HOME */
.home{
  text-align: center;
  float: left; 
  position: relative;
  z-index: 99;
  margin: 12%;
  color: white;
  background-color: rgba(0, 0, 0, 0.349);  
}
#me{
  display: flex;
  flex-direction: row;
}
.me{ 
  width: 90%;
  text-align: left;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
a{text-decoration: none;  font-style: italic;}

h5{ 
  font-weight:lighter; 
  color: rgba(255, 255, 255, 0.198);
}
span{
  font-size: 2.3em;
  font-weight:lighter;
  font-variant-ligatures: historical-ligatures;
  cursor: default
}
span:hover {
  color: rgb(245, 30, 102);
  font-weight: 900;  
}
.input-contactme a{ display: flex; flex-direction: row; color: rgb(245, 30, 102);}

/* SOCIAL */
.social{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.social  a h3{
  color: rgb(245, 30, 102);
  margin-right: 5px;
}
a h3:hover{
  color:gray;
}
/* BAR */
#bar{
  display: flex;
  float: left; 
  position: relative;
}

.bar svg:hover{
    color:gray;
    font-size: 28px;
}
.menu-resp{
  display: none;
}

/* CONTACTME */
#contactme{
  display: flex; 
  justify-content: space-evenly; 
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  white-space: 'nowrap',
}

.contactme{  
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5%;
  position:absolute;
  z-index: 99;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.801);    
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  
}
.contactme-form{  
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;  
}

#contactme h1, h4, p{
  color: black; 
}
#contactme .social{
  justify-content: center;
  margin-top: 0;
}

/* CARD */
.card {
margin: 0 10px;
}
/* CARDWORK */

.work {
width: 100%;
z-index: 99;
}
 

/* ------MOBILE------ */

@media (max-width: 900px)  {
  span{
    font-size: 1em;
  }
  span:hover {
    font-size: 1em;
  }
  .home{
    margin-top: 80px;
  }
  #me{
    display: flex;
    flex-direction: column-reverse;
  }
  #contactme{
    display: flex; 
   
    width: 100%;
    height: 100%;
  }
  .contactme{
    width: 90%;
    margin:85px 0 ;
  }
  .bar{
    display: none;
  }
  .menu-resp{ 
    width: 100%;
    height: 45px;    
    display: flex;
    justify-content: center;  
    position: fixed;
    z-index: 100;   
    color: white;
    background-color: black;
    border-bottom: 3px solid grey;
    border-radius: 8px;
  }
 
}