.me{
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color: rgb(245, 30, 102);
  font-size: 30px;
}
span{
  font-size: 50px;
}
 
span:hover {
  font-size: 65px;
  animation: slidein .5s;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    margin-left: 1%;
    width: 3%
  }

  to {
    margin-left: 0%;
    width: 1%;
  }
}

.particles{  
  height: 100vmax;
  width: 100%; 
  position: fixed;
  z-index: -1;
  background-size: cover;
}
.home{
  text-align: center;
  float: left;
  width: 80%;
  position: relative;
  border: 3px solid white;
  z-index: 99;
  margin: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.349);
  
}